@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

p {
  color: blue;
}

.alert {
  margin: 0 20px;
}

.hidden {
  display: none;
}
.h1-font {
  font-size: 30px;
}
